body
{
    background: #4acebc;
}

.login_div1 , .login_div2
{
    background:  green;
    padding: 13px;
    float: none;
    border-radius: 12px;
}

#player1_name , #player2_name
{
    display: inline-block;
    margin-left: 23px;
}
#word
{
    width: 60%;
}
#word_display
{
    
}





